:root {
    --Vinotinto_claro: #2D2D2D;
    --Vinotinto: #4A1A1A;
    --negro: #000000;
    --gris_claro_metalico: #8c8c8c;
    --vinotinto-brillante: #db0b00;
}





.body {
    /* background-color: var(--gris_claro_metalico) ; */
    background: var(--gris_claro_metalico);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Helvetica", sans-serif;
}


h2 {
    font-family: "Cinzel Decorative", serif;
    text-align: center;
    font-size: 2.5em;
    margin: 0;
    color: var(--Vinotinto_claro);
    margin: 2rem 0;
    text-shadow: 0px 10px 10px #000000cb;
    width: 100%;
}


.degradado-claro-oscuro {
    margin-top: 2rem;
    height: 75px;
    width: 100%;
    background: linear-gradient(to bottom, var(--gris_claro_metalico) 0%, var(--Vinotinto_claro) 100%);
}

.degradado-oscuro-claro {
    margin-top: 2rem;
    height: 75px;
    width: 100%;
    background: linear-gradient(to bottom, var(--Vinotinto_claro) 0%, var(--gris_claro_metalico) 100%);
}

.mb-2 {
    margin-bottom: 2rem;
}




.header_continer {
    /* background: url(../img/fondo_gotico.jpg) no-repeat center fixed; */
    background-size: cover;
    width: 100%;
    min-height: 40vh;
    height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    border-bottom: solid var(--negro) 3PX;
    position: absolute;
        overflow: hidden;

}
.header_continer video{
margin-top: 0%;
    width: auto;
    height: 100%;
    position: absolute;
    filter: brightness(0.5) blur(5px);
}

.logo {
    width: 100%;
    height: 39vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo_img {
    max-width: 100%;
    max-height: 100%;
    background-image: url("../img/sofiatatoo_letras.png");
    background-position: center center;
    width: 300px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    z-index: 100;
position: absolute;
}

.contenedor_boton_opciones {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    margin-top: 300px;
    margin-bottom: 50px;
  z-index: 100;
}

.boto_de_opciones {
    background-color: #808080a0;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    text-align: center;
    display: grid;
    justify-items: center;
    align-items: center;
    align-content: space-evenly;
    border: solid #000000 1px;
    transition: 0.5S;
    cursor: pointer;
    z-index: 100;
    
}

.boto_de_opciones>i {
    font-size: 2rem;
}

.boto_de_opciones:hover {
    background-color: #cac8c8;
    box-shadow: -5px 5px 15px 0px rgba(0, 0, 0, 0.5);
    transition: 0.5S;
    transform: scale(1.05);
}

.linea_boton_opciones {
    width: 50%;
    height: 5px;
    background-color: var(--negro);
    margin: 1px;
    padding: 0;
    border-style: 5px;
}

@media only screen and (min-width: 768px) {
    .logo_img {
        width: 50%;
    }
    .contenedor_boton_opciones{
        margin-top: 350px;
    }
    .header_continer{
        height: 500px;
    }
    .header_continer video{
    margin-top: -7%;
    width: 100%;
    height: auto;
    position: absolute;
    filter: brightness(0.5) blur(5px);
}
}

/*   barra de opciones--------------------------*/

.barra_opciones {
    background: #4A1A1A;
    background: linear-gradient(179deg, rgba(74, 26, 26, 1) 0%, rgba(73, 26, 26, 1) 39%, rgba(0, 0, 0, 1) 100%);
    border: solid var(--negro);
    height: auto;
    width: 90%;
    position: fixed;
    top: 10%;
    right: -100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 10px 20px 0 var(--Vinotinto_claro);
    z-index: 100;
    padding: 1rem;
}

.barra_opciones>i {
    align-self: end;
    color: var(--gris_claro_metalico);
    font-size: 2rem;
    cursor: pointer;
    transition: all 1s ease;
}

.barra_opciones>i:hover {
    transform: rotateZ(180deg);
    filter: brightness(1.5);
}

.logo_opciones {
    max-width: 100px;
    max-height: 100px;
    margin: 1em 1em 2em 1em;
    text-align: center;
}

.opcion {
    text-align: end;
    color: var(--gris_claro_metalico);
    padding: 1rem;
    font-size: 22px;
    width: 100%;
    text-align: center;
    border-radius: 20px;
    font-family: "Helvetica", sans-serif;
    text-decoration: none;
    transition: all .5s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.opcion:hover {
    text-shadow: -4px 4px 2px var(--negro);
    background: linear-gradient(251deg, rgba(0, 0, 0, 0) 0%, rgba(110, 38, 38, 0.46) 50%, rgba(110, 38, 38, 0) 100%);
}

.opcionredes {
    text-align: end;
    color: var(--gris_claro_metalico);
    padding: 1rem;
    font-size: 22px;
    width: 100%;
    text-align: center;
    border-radius: 20px;
    font-family: "Helvetica", sans-serif;
    text-decoration: none;
    transition: all .5s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.opcion:hover {
    text-shadow: -4px 4px 2px var(--negro);
    background: linear-gradient(251deg, rgba(0, 0, 0, 0) 0%, rgba(110, 38, 38, 0.46) 50%, rgba(110, 38, 38, 0) 100%);
}

.contenedor_opcion_redes {
    border-top: 1px solid var(--gris_claro_metalico);
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.5rem;
}

.contenedor_opcion_redes>a>i {
    color: var(--gris_claro_metalico);
    text-decoration: none;
    font-size: 3rem;
    transition: all .5s ease;
}

.contenedor_opcion_redes>a:hover>i {
    transform: scale(1.1);
    filter: brightness(1.5);
    box-shadow: #4A1A1A 0px 5px 15px;
}

.contenedor_opcion_redes img{
    width: 50px;
    max-width: 100%;

}
@media only screen and (min-width: 768px) {

    .barra_opciones {
        width: 30%;
    }


}





/*---------presentacion-------------*/

.presentacion {
    text-align: center;
    width: 100%;
    padding-top: 2rem;
    margin-top: 20px;
}

.presentacion p {
    font-size: 2rem;
    font-weight: 600;
    font-family: "Parisienne", cursive;
    line-height: 1.5;
    margin: 20px 0;
    color: var(--Vinotinto_claro);
    border-bottom: solid 2px var(--Vinotinto_claro);
    display: inline;
}

.presentacion img {
    height: 40px;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .presentacion img {
        height: 40px;
        width: 20%;

    }
}


/* --------------- apratir de aqui es la mini galera de tatuajes--------- */

.trabajos {
    background-color: var(--Vinotinto_claro);
    width: 100%;
}



.text-red {
    color: var(--gris_claro_metalico);
}

.contenedor_mini_galeria {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contenedor_galeria{
    margin-top: 50px;
}

.linea_decrativa2 {
    width: 100%;
    height: 30px;
    /* filter: invert(1); */
}

.contenedordelcontenedorfototatuaje {
    background-color: var(--gris_claro_metalico);
    padding: 0;
    border-radius: 3px;
    margin: 5px 0;
    background-position: center;
    background-size: cover;
    width: 90%;
    transition: all .5s ease;
}

.fonditonegrito {
    background-color: var(--Vinotinto_claro)
}


.contenedor_foto_tatuaje {
    width: 100%;
    height: auto;
    margin-bottom: 0px;
    margin-top: 0px;
    background-color: #4A1A1A;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 3px;
    border: solid 1px #4A1A1A;
    overflow: hidden;
    /* Para asegurar que el efecto de clip-path se vea bien */
    background-color: var(--Vinotinto_claro);
    cursor: pointer;
    transition: all .5s ease;
}

.contenedor_foto_tatuaje>img {
    transition: all .5s ease;
}

.contenedor_foto_tatuaje:hover {
    z-index: 1;
    transition: 0.5s;
}

.contenedor_foto_tatuaje:hover>img {
    filter: contrast(1.2);
}

.contenedordelcontenedorfototatuaje:has(.contenedor_foto_tatuaje:hover) {
    box-shadow: #4A1A1A -15px 25px 35px;
}



@keyframes cargarTriangulos {
    10% {
        opacity: 0%;
        clip-path: polygon(25% 0%, 24% 0, 26% 0, 0 24%, 0 23%, 0 0);
    }

    20% {
        opacity: 0%;
        clip-path: polygon(30% 0, 68% 0, 41% 17%, 23% 14%, 0 22%, 0 0);
    }

    30% {
        opacity: 0%;
        clip-path: polygon(30% 0, 100% 0, 84% 24%, 48% 8%, 0 22%, 0 0);
    }

    40% {
        opacity: 10%;
        clip-path: polygon(30% 0, 100% 0, 100% 34%, 48% 14%, 0 22%, 0 0);
    }

    50% {
        opacity: 20%;
        clip-path: polygon(0 0, 100% 0, 100% 34%, 48% 25%, 39% 58%, 0 35%);
    }

    60% {
        opacity: 40%;
        clip-path: polygon(0 0, 100% 0, 100% 59%, 48% 25%, 39% 58%, 0 35%);
    }

    70% {
        opacity: 50%;
        clip-path: polygon(0 0, 100% 0, 100% 59%, 38% 83%, 39% 58%, 0 35%);
    }

    80% {
        opacity: 60%;
        clip-path: polygon(0 0, 100% 0, 100% 59%, 38% 83%, 39% 58%, 0 79%);
    }

    90% {
        opacity: 80%;
        clip-path: polygon(0 0, 100% 0, 100% 59%, 82% 91%, 36% 86%, 0 79%);
    }

    95% {
        opacity: 90%;
        clip-path: polygon(0 0, 100% 0, 100% 59%, 82% 91%, 0 100%, 0 79%);
    }

    100% {
        opacity: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 59%, 100% 100%, 0 100%, 0 79%);
    }
}


.contenedor_foto_tatuaje img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    /* Si quieres animar el clip-path sobre la imagen directamente, agrega: */
    transition: clip-path 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}


.goth_btn {
    background-image: url(../img/goth_btn.png);
    background-size: cover;
    background-position: center;
    width: auto;
    width: 300px;
    height: 105px;
    overflow: visible;
    cursor: pointer;
    text-align: center;
    color: rgba(255, 255, 255, 75%);
    text-decoration: none;
    transition: all .5s ease;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.goth_btn>span {
    margin-top: 1rem;
    cursor: pointer;
}

.goth_btn:hover {
    background-image: url(../img/goth_btn_hover.png);
}




@media only screen and (min-width: 768px) {
    .trabajos {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2.5rem;
    }

    .contenedordelcontenedorfototatuaje {
        max-width: 30%;
        width: 30%;
        height: 375px;
        margin-bottom: 30px;
        transition: box-shadow 0.5s;
    }

    .linea_decrativa2 {
        display: none;
    }

    .contenedor_mini_galeria {
        width: 70%;
    }

    .contenedor_foto_tatuaje {
        height: 375px;
    }

    .contenedor_foto_tatuaje:hover {
        scale: 1.05;
        z-index: 1;
        transition: 0.5s;
    }

    .contenedor_foto_tatuaje:hover>img {
        filter: contrast(1.2);
    }

    .contenedordelcontenedorfototatuaje:has(.contenedor_foto_tatuaje:hover) {
        box-shadow: #4A1A1A -15px 25px 35px;
    }
    .contenedor_galeria{
    margin-top: 100px;
}
}

/* Efecto de agrandar imagen tipo lightbox simple */
.lightbox {
    position: fixed !important;
    top: 0% !important;
    left: -200% !important;
    z-index: 20 !important;
    width: 100vw;
    height: 100%;
    opacity: 0;
    background: #2222228b;
    cursor: pointer;
    display: none;
    cursor: auto;
}

@keyframes bay-img {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.lightbox img {
    height: 80vh;
    box-shadow: 0 0 40px 10px #000a;
    border-radius: 4px;
    border: solid var(--Vinotinto) 2px;
    transition: .5s;
    margin-top: 5%;
}

.lightbox.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0 !important;
    transition: .5s;
}


.no-scroll {
    overflow: hidden !important;
}

.lightbox-close {
    z-index: 30;
    width: 40%;
    background-color: var(--Vinotinto);
    color: var(--gris_claro_metalico);
    padding: 5px 10px;
    margin: 10px;
    border: solid 1px var(--negro);
    border-radius: 3px;
    font-size: 1.5rem;
    
    cursor: pointer;
    transition: 0.5s;
}

.lightbox-close:hover {
    scale: 1.01;
    transition: 0.5s;
}

.overflow-hidden {
    overflow: hidden !important;
}

@media only screen and (min-width: 768px) {

    .lightbox-close{
        width: 20%;
    }
    .lightbox img{
        margin-top: 5%;
    }


}   

/*----------precentacion artista ------------*/


.contenedor_artista {
    margin: 20px 20px 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.img_artista {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    position: relative;
}

.foto_ale {
    width: 100%;
    border: solid;
    border-radius: 3px;
    clip-path: polygon(30% 0, 100% 0, 100% 70%, 70% 100%, 0 100%, 0 30%);
    z-index: 2;
}

.esquinita_gotica1 {
    width: 25%;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
}

.esquinita_gotica2 {
    width: 25%;
    position: absolute;
    z-index: 3;
    bottom: 0;
    right: 0;
}

.informacion_artista {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.informacion_artista h2 {
    font-size: 2rem;
    margin: 20px 0 10px 0;
    border-bottom: solid 3px var(--negro);
}

.informacion_artista P {
    text-align: center;
    background: #2E2C2C;
    background: linear-gradient(150deg, rgba(46, 44, 44, 0.9) 0%, rgba(48, 43, 43, 1) 45%, rgba(48, 43, 43, 0.82) 100%);    width: 90%;
    padding: 20px;
    font-size: 1rem;
    color: var(--gris_claro_metalico);
    border-radius: 3px;
}

@media only screen and (min-width: 768px) {
    .contenedor_artista{
        flex-direction: column;
        position: relative;
    }
    .img-datos{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }

    .img_artista {
        margin: 20px;
        max-width: 40%;
        height: 100%;
        justify-content: center;
    }
    .informacion_artista{
     max-width: 40%;
    }

    .informacion_artista P {
        width: 100%;
        font-size: 1.5vw;
        height: 35vw;

    }

}






.mirar_mas {
    font-family: "UnifrakturMaguntia", cursive;
}



/* --------------------------------------opiniones de clientes ------------------------ */

.testimonios {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: max-content;
    min-height: 500px;
    width: 100%;
}
.arrow{
    width: 50px !important;
    height: 50px !important;
}







.cotizar {
    margin: 100px 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 50px;
    justify-content: center;
}
.cotizar img{
    cursor: pointer;
    z-index: 5;
}


.boton_cotizar {
    text-decoration: none;
    color: rgb(255 255 255 / 65%);
    background-image: none;
    background: linear-gradient(90deg, rgba(74, 26, 26, 1) 0%, rgb(146, 12, 12) 50%, rgba(74, 26, 26, 1) 100%);
    padding: 10px 20px;
    height: 80px;
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: row;
    transition: 0.5s;
    position: relative;
    justify-content: center;
    font-size: 1.5em;
    font-family: "Helvetica";
    box-shadow: #fffccf49 0 0px 70px 20px;
    transition: 0.5s;
    text-align: center;
}
.boton_cotizar:hover {
    scale: 1.04;
    transition: 0.5s;
    box-shadow: #fffeee 0px 0px 90px 30px;
    background-color: #a55757;
     background: linear-gradient(90deg, rgb(110, 50, 50) 0%, rgb(207, 48, 48) 50%, rgb(110, 50, 50) 100%);
     transition: 0.5s;
     cursor: pointer;
}

.boton_cotizar p {
    z-index: 6;
    cursor: pointer;
}

.img-uno {
     position: absolute;
    width: 130%;
    height: 200px;
}

.img-dos {
    position: absolute;
    height: 70px;
    width: 210px;
}



.borde-interno-del-boton {
    position: absolute;
    height: 70%;
    width: 80%;
    border: solid 1px var(--negro);
}

.triangulito {
    width: 30px;
    height: 30px;
    background-color: var(--gris_claro_metalico);
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
    margin-left: 10px;
    border-radius: 50%;
}







@media only screen and (min-width: 768px) {
    .testimonios {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .contenedor_testimonios {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .comentarios {
        justify-content: center;
        width: 90%;
    }

    .comentario {
        width: 70%;
        margin: 20px 0px;
        justify-content: center;
    }
    .boton_cotizar{
        width: 20%;
    }
    .arrow{
    width: 100px !important;
    height: 100px !important;
    }

}

/* ----------------------estilos------------------------------ */


.estilos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/fondo_gotico.jpg);
    background-attachment: fixed;
    border-top: 5px solid var(--negro);

}

.estilos h2 {
    color: var(--gris_claro_metalico);
    
}

.estilos p {
    color: var(--gris_claro_metalico);
    font-size: 1.5rem;
    text-align: center;
}

.contenedor_estilos {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.estilo {
    width: 45%;
    height: 30vh;
    height: -webkit-fill-available;
    /* border: solid 1px var(--negro); */

    padding: 5px;
    margin: 10px 0px;
    text-align: center;
    background: #808080;
    background: linear-gradient(179deg, rgba(128, 128, 128, 1) 0%, rgba(26, 25, 25, 1) 100%);
    color: var(--gris_claro_metalico);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.estilo img {
    width: 100%;
    border-radius: 3px;

    height: 50%;
    margin: 5PX;

}

.estilo h4 {
    font-family: "UnifrakturMaguntia", cursive;
    font-size: 8vw;
    border-bottom: solid 3px var(--gris_claro_metalico);
    width: 100%;
    overflow-wrap: break-word;
}

.estilo p {
    text-align: center;
}

@media only screen and (min-width: 768px) {

    .estilo {
        width: 23%;
        height: 100%;
        height: -webkit-fill-available;
        margin: 0;
        margin-bottom: 30px;
    }

    .estilos {
        width: 100%;

    }
    .estilo h4{
        font-size: 3vw;
    }

    .contenedor_estilos {
        width: 80%;
    }
}









/* --------------------------promociones---------------------- */

.Contenedor_promociones {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--Vinotinto_claro);
    margin: 20px 0;
    color: var(--gris_claro_metalico);
    text-align: center;
}

.Contenedor_promociones h2 {
   
    color: var(--gris_claro_metalico1);


}


.Contenedor_promociones p {
    font-size: 1.5rem;
}

.promociones {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.promocion {
    width: calc(60% - 50px);
    height: 40vh;
    margin: 10px 0;
    border: solid 2px #381717;
    border-top: 5px solid var(--negro);
    padding: 3px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #8f4d4d;
    background: linear-gradient(179deg, rgba(143, 77, 77, 1) 0%, rgba(74, 26, 26, 1) 100%);
    clip-path: polygon(100% 0, 100% 100%, 50% 90%, 0 100%, 0 0);
    position: relative;
    transition: 0.5s;
}


.promocion:hover {
    transform:  rotatex(-20deg) ;

}
.promocion:hover .hide-tex  {
    bottom: -15%;
}

.promocion h4 {
    text-align: center;
    font-family: "UnifrakturMaguntia", cursive;
    font-size: 1.5rem;
    margin: 0px 0;
    color: var(--gris_claro_metalico);
    z-index: 4;
    position: absolute;
    background-color: #2d2d2de1;
    color: #4A1A1A;
    width: 100%;
    padding: 5px;
}

.hide-tex {
    text-align: center;
    color: var(--vinotinto-brillante);
    font-size: 1.2rem;
    margin: 10px 0;
    padding: 40px 0;
    position: absolute;
    bottom: -150%;
    right: 0;
    z-index: 3;
    transition: .5s;
  background: rgba(45, 45, 45, 10.03);
background: linear-gradient(180deg, rgba(45, 45, 45, 0.83) 0%, rgba(63, 33, 33, 1) 49%, rgba(74, 26, 26, 1) 87%, rgba(74, 26, 26, 0) 100%);
    height: 100%;
    width: 100%;
    overflow: hidden;
}


.promocion img {
    max-width: 100%;
    height: 280px;
    border-radius: 3px;

}

@media only screen and (min-width: 768px) {

    .promocion {
        width: 15%;
        margin-bottom: 30px;

    }
    .Contenedor_promociones h2 {
   


    }


}













/* -----------------------preguntas frecuentes----------------------------------- */








.preguntas_frecuentes {
    max-width: 100%;
    width: 100%;
    margin: 20px 0;
    padding: 10px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--Vinotinto_claro);
}



.contenedor_preguntas_frecuentes {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contenedor_preguntas_frecuentes details {
    background: #4A1A1A;
background: linear-gradient(148deg, rgba(74, 26, 26, 1) 0%, rgba(110, 0, 0, 1) 50%, rgba(74, 26, 26, 0.99) 100%);
    margin: 10px;
    padding: 10px;
    color: var(--gris_claro_metalico);
    border: solid 1px var(--negro);
    border-radius: 3px;
    transition: 0.5s;
    width: 90%;
    border-radius: 3px;
}


.contenedor_preguntas_frecuentes summary{
    color: #808080;
    border-bottom: solid 2px var(--negro);
    padding: 5px 5px;
    font-size: 1.5rem;
    text-align: left;
       text-overflow:initial;
       text-underline-offset: none;
}
.contenedor_preguntas_frecuentes p {
    padding: 5px;
    border-radius: 3px;
    font-size: 1rem;
 
}







/* ---------------------------------Datos de cuentas y contactos----------------------- */


.contactos_contenedor {
    width: 100%;
    margin-top: 100px;
}

.cuntactos {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

}

.telefono {
    background-color: var(--Vinotinto_claro);
    padding: 10px;
    margin: 20px;
    color: var(--gris_claro_metalico);
    border-radius: 3px;
    width: 80%;
    text-align: center;
    font-size: 1.5rem;
}

.redeses_contactos {
    background-color: var(--Vinotinto_claro);
    padding: 10px;
    margin: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--gris_claro_metalico);
    border-radius: 3px;
}

.redeses_contactos a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: solid var(--gris_claro_metalico) 1px;
    border-radius: 3px;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    width: 70%;
}

.redeses_contactos a p {
    margin: 5px;
    color: var(--gris_claro_metalico);
    text-decoration: none;
}

.redeses_contactos a img {
    width: 40px;
}


.pagos {
    background-color: var(--Vinotinto);
    margin: 20px;
    padding: 10px;
    color: var(--gris_claro_metalico);
    width: 80%;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    border: solid 1px var(--negro);
}

.pagos h3 {
    width: 100%;
    border-bottom: solid 1px var(--negro);
    padding: 10px;
    text-align: center;
    font-size: 2rem;
}

.metodo_de_pago {
    border: solid 1px var(--negro);
    padding: 10px;
    border-radius: 20px;
    margin: 20px;
    text-align: center;
    width: 80%;
}

.metodo_de_pago h4 {
    text-align: center;
    border-bottom: 1px solid var(--negro);
    padding: 10px;

}

/* Scrollbar personalizado */
body::-webkit-scrollbar {
    width: 10px;
    background: var(--Vinotinto_claro);

}

body::-webkit-scrollbar-thumb {
    height: 8px;
    border-radius: 10px;
    background: var(--Vinotinto);
    border: solid var(--negro) 2px;
}

/* Firefox */




.formulario_de_contacto{
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    
}
.formulario_de_contacto p {
    max-width: 80%;
    text-align: center;
}
.form-cont{
    width: 80%;
    background-color: var(--Vinotinto_claro);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid var(--gris_claro_metalico) 1px;
    box-shadow: var(--negro) 0px  0px 20px;
    
}
.form-cont label{
    color: var(--gris_claro_metalico);
    margin: 10px;
    border-radius: 3px;
     height: 30px;
}
.form-cont input{
    margin: 5px 0;
    border-radius: 3px;
     height: 30px;
     width: 100%;
     background-color: var(--Vinotinto_claro);
     color: var(--gris_claro_metalico);
     border: solid var(--gris_claro_metalico) 1px;
     text-align: center;
}
.form-cont select{
    margin: 10px 0;
    width: 100%;
    border-radius: 3px;
     height: 30px;
          background-color: var(--Vinotinto_claro);
     color: var(--gris_claro_metalico);
     border: solid var(--gris_claro_metalico) 1px;
     text-align: center;
}

.form-cont textarea{
    max-width: 100%;
    max-height: 10lh;
    min-width: 100%;
    min-block-size: 50px;
    border-radius: 3px;
    padding: 10px;
    background-color: var(--Vinotinto_claro);
     color: var(--gris_claro_metalico);
     border: solid var(--gris_claro_metalico) 1px;
     resize: vertical;
text-align: center;
}
.form-cont button{
    width: 50%;
    height: 50px;
    font-size: 1rem;
    border-radius: 3px;
    font-family: "Cinzel Decorative", serif;
    color: var(--gris_claro_metalico);
    background-color: var(--Vinotinto);
    border: solid var(--gris_claro_metalico) 1px;
}




@media only screen and (min-width: 768px) {
    .formulario_de_contacto{
        margin-top: 200px;
    }
    .form-cont{
        max-width: 40%;
    }
}






/* ----------------------footer------------------------------ */


.footer {
    width: 100%;
    background-color: var(--Vinotinto_claro);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alejandra_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 0 0;
}

.alejandra_footer img {
    max-width: 40px;
}

.alejandra_footer p {
    color: var(--gris_claro_metalico);
}

.autor {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

}

.autor a {
    text-decoration: none;
}

.hecho_por {
    padding: 10px;
    margin: 0;
    font-size: 1.5rem;
    color: var(--gris_claro_metalico);
}

.nombre_abrahan {
    text-decoration: none;
    text-shadow: 0px 0px 10px rgba(0, 255, 255, 0.78);
    color: var(--gris_claro_metalico);
    border: solid 1px rgba(0, 255, 255, 0.78);
    border-radius: 20px;
    padding: 10px;
    margin: 0px;
    background-color: transparent;
    animation: linear infinite abrahanneon ;
    animation-duration: 5s;
    animation-timing-function: linear;
    cursor: pointer;
}
.nombre_abrahan samp{
    opacity: 0;
    animation: parpadeo 4s infinite linear;
    transition: none;

}



@keyframes parpadeo{
0%{
    opacity: 1;
}
1%{
    opacity: 0;
}
4%{
    opacity: 1;
}
60%{
    opacity: 1;
}
63%{
    opacity: 0;
}
68%{
    opacity: 1;
}
80%{
    opacity: 1;
}
100%{
    opacity: 1;
}
}

@keyframes abrahanneon{
    10%{
    box-shadow: 1px 1px 6px 0px rgba(0, 255, 255, 0.78), inset 2px -3px 6px 0px rgba(0, 255, 255, 0.78);
    }
    20%{
        box-shadow: 3px 3px 6px 0px rgba(0, 255, 255, 0.78), inset -4px -3px 6px 0px rgba(0, 255, 255, 0.78);
    }
    30%{
        box-shadow: 4px 0px 6px 0px rgba(0, 255, 255, 0.78), inset -5px -2px 6px 0px rgba(0, 255, 255, 0.78);
    }
    40%{
        box-shadow: 4px -2px 6px 0px rgba(0, 255, 255, 0.78), inset -5px 1px 6px 0px rgba(0, 255, 255, 0.78);
    }
    42%{
        box-shadow: 4px -2px 6px 0px rgba(78, 78, 78, 0.78), inset 0px 0px 0px 0px rgba(40, 44, 44, 0.78);    
    }
      45%{
        box-shadow: 4px -2px 6px 0px rgba(0, 255, 255, 0.78), inset -5px 1px 6px 0px rgba(0, 255, 255, 0.78);
    }
    50%{
        box-shadow: 2px -2px 6px 0px rgba(0, 255, 255, 0.78), inset -3px 1px 6px 0px rgba(0, 255, 255, 0.78);
    }
    60%{
        box-shadow: 1px -3px 6px 0px rgba(0, 255, 255, 0.78), inset -2px 3px 6px 0px rgba(0, 255, 255, 0.78);
    }
     70%{
        box-shadow: -4px -2px 6px 0px rgba(0, 255, 255, 0.78), inset 2px 5px 6px 0px rgba(0, 255, 255, 0.78);
    }

     80%{
            box-shadow: -6px 3px 6px 0px rgba(0, 255, 255, 0.78), inset 5px 0px 6px 0px rgba(0, 255, 255, 0.78);
    }

     90%{
            box-shadow: -3px 5px 6px 0px rgba(0, 255, 255, 0.78), inset 5px 0px 6px 0px rgba(0, 255, 255, 0.78);
    }
     92%{
            box-shadow: 1px 3px 6px 0px rgba(0, 255, 255, 0.78), inset 2px -2px 6px 0px rgba(0, 255, 255, 0.78);
    }
     93%{
        box-shadow: 4px -2px 6px 0px rgba(78, 78, 78, 0.78), inset 0px 0px 0px 0px rgba(40, 44, 44, 0.78);    
    }
       95%{
            box-shadow: 1px 3px 6px 0px rgba(0, 255, 255, 0.78), inset 2px -2px 6px 0px rgba(0, 255, 255, 0.78);
    }
     97%{
        box-shadow: 4px -2px 6px 0px rgba(78, 78, 78, 0.78), inset 0px 0px 0px 0px rgba(40, 44, 44, 0.78);    
    }
         100%{
            box-shadow: 1px 3px 6px 0px rgba(0, 255, 255, 0.78), inset 2px -2px 6px 0px rgba(0, 255, 255, 0.78);
    }


}



.redes_footer {
    background-color: var(--Vinotinto_claro);

}

.redes_footer img {
    max-width: 40px;
    margin: 0 5px 0 5px;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .alejandra_footer {
        display: flex;
        flex-direction: row;
        margin: 10px 0 0 0;
        align-items: center;
    }

    .footer {
        background-color: var(--Vinotinto_claro);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .footer img {
        max-width: 40px;
    }

    .footer p {
        color: var(--gris_claro_metalico);
    }

    .autor {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 10px;

    }

    .autor a {
        text-decoration: none;
    }

    .hecho_por {
        padding: 10px;
        font-family: "UnifrakturMaguntia", cursive;
        margin: 0;
        font-size: 1.5rem;
    }

    .nombre_abrahan {
        text-decoration: none;
        color: var(--gris_claro_metalico);
        border: solid 3px var(--gris_claro_metalico);
        border-radius: 20px;
        padding: 10px;
        margin: 0px;
    }

    .redes_footer {
        background-color: var(--Vinotinto_claro);

    }

    .redes_footer img {
        max-width: 40px;
        margin: 0 5px 0 5px;
    }

}