:root{
    --Vinotinto_claro : #2D2D2D;
    --Vinotinto :#4A1A1A ;
    --negro: #000000;
    --gris_claro_metalico: #8c8c8c  ;
}


.body{
    /* background-color: var(--gris_claro_metalico) ; */
    background: var(--gris_claro_metalico);
}


.unifrakturmaguntia-regular {
  font-family: "UnifrakturMaguntia", cursive;
  font-weight: 400;
  font-style: normal;
}

.header_continer{
    background: url(../img/fondo_gotico.jpg) no-repeat center fixed; 
    background-size: cover;
    width: 100%;
    height: 50vh;
    display: flex;flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 5vh;
    border-bottom: solid var(--negro) 3PX;
}

.logo{
    width: 100%;
    height: 39vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo_img{
    max-width: 100%;
    max-height: 100%;
    background-image: url("../img/sofiatatoo_letras.png");
    background-position: center center;
    width: 300px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
}
.contenedor_boton_opciones{
    width: 100%;
    height: 39vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boto_de_opciones{
    background-color: var(--gris_claro_metalico);
    height: 15vw;
    width: 15vw;
    border-radius: 50%;
    text-align: center;
    display: grid;
    justify-items: center;
    align-items: center;
    align-content: space-evenly;
    border: double #000000;
    transition: 0.5S;
}
.boto_de_opciones:hover{
    height: 16vw;
    width: 16vw;
    background-color: #cac8c8;
    box-shadow: 0px 0px 20px 0px var(--negro);
    transition: 0.5S;
}
.linea_boton_opciones{
    width: 50%;
    height: 5px;
    background-color: var(--negro);
    margin: 1px;
    padding: 0;
    border-style: 5px;
}
@media only screen and (min-width: 768px) {
    .header_continer {
        height: 60vh;
    }
    .boto_de_opciones {
    width: 13vh;
    height: 13vh;
    }
    .boto_de_opciones:hover {
    width: 14vh;
    height: 14vh;
    }

}

/*   barra de opciones--------------------------*/

.barra_opciones{background: #4A1A1A;
    background: linear-gradient(179deg,rgba(74, 26, 26, 1) 0%, rgba(73, 26, 26, 1) 39%, rgba(0, 0, 0, 1) 100%);
    border: solid var(--negro);
    height: 90%;
    width: 90%;
    position: fixed;
    top: 5%;
    right: -100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 10px 20px 0 var(--Vinotinto_claro);
    z-index: 10;
}

.boton_X_opciones{
    max-width: 100%;

}
.boton_X_opciones img{
    width: 30px;
    height: 30px;
    margin: 10px;
    position: absolute;
    right: 5%;
    top: 2%;
    padding-bottom: 3px;
    transition: 0.5s;
}
.boton_X_opciones img:hover{
    width: 35px;
    height: 35px;
    transition: 0.5s;
}
.logo_opciones{
    max-width: 100px;
    max-height: 100px;
    margin: 1em 1em 2em 1em;
    text-align: center;
}
.opcion{
    text-align: end;
    color: var(--gris_claro_metalico);
    padding: 0px;
    margin: 0px;
    font-size: 7vh;
    width: 90%;
    height: 100%;
    text-align: center;
    border-radius: 20px;
    font-family: "UnifrakturMaguntia", cursive;
    text-decoration: none;
}
.contenedor_opcion_redes{
    border-top: 3px solid var(--negro);
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.opcion_redes{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.opcion_redes img{
    width: 7vh;
    height: 7vh;
    margin: 10px;
}

/*---------presentacion-------------*/

.presentacion{
    width: 100%;
    text-align: center;
    font-size: 2em;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.presentacion p {
    max-width: 95%;
    border-radius: 20px;
    background-color: var(--gris_claro_metalico);
    margin: 10px;
    padding: 20px;

}
.presentacion img{
    height: 40px;
    width: 100%;

}

@media only screen and (min-width: 768px) {
    .presentacion img{
    height: 40px;
    width: 20%;

    }
}


/* --------------- apratir de aqui es la mini galera de tatuajes--------- */

.trabajos{
    background-color: var(--Vinotinto_claro);
    padding: 1rem 0;
    margin-top: 1rem;
}
.h2{
    background: var(--Vinotinto_claro); 
    font-family: "UnifrakturMaguntia", cursive;
    text-align: center;
    max-width: 100%;
    font-size: 2em;
    padding: 10px;
    color: var(--gris_claro_metalico);
}

.contenedor_mini_galeria{
    width: 100%;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.linea_decrativa2{
    width: 100%;
    height: 30px;
    filter: invert(1);
}

.contenedor_foto_tatuaje{
    max-width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: #4A1A1A;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    transition: box-shadow 0.5s;
    /* Quitar/evitar transición de opacity/y aquí para no interferir con GSAP */
}
.contenedor_foto_tatuaje img{
    max-width: 100%;
    height: 100%;
    border-radius: 5px;
}


.boton_ver_mas{
    background-image: url(../img/fondo_gotico.jpg);
    color: var(--gris_claro_metalico);
    padding: 10px 30px;
    margin: 30px;
    font-size: 2rem;
    text-align: center;
    border-radius: 20px;
    /* background-color: var(--Vinotinto); */
    border: solid 3px var(--negro);
    text-decoration: none;
    background-attachment: fixed;
}
@media only screen and (min-width: 768px) {
    .h2{
        width: 100%;
    }

    .contenedor_foto_tatuaje{
        max-width: 30%;
        width: 30%;
        margin-bottom: 30px;
    }

    .linea_decrativa2{
        display: none;
    }

}    


/*----------precentacion artista ------------*/


.contenedor_artista{
    margin: 20px 20px 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contenedor_artista h2{
    font-family: "UnifrakturMaguntia", cursive;
    font-size: 2rem;
}
.img_artista{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.foto_ale{
    width: 80%;
    border: solid;
    border-radius: 20px;
    clip-path: polygon(30% 0, 100% 0, 100% 70%, 70% 100%, 0 100%, 0 30%);
    z-index: 2;
}
.esquinita_gotica{
    width: 80%; 
    position: absolute;
    z-index: 1;
}
.informacion_artista{
   text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.informacion_artista h3{
    font-size: 2rem;
    font-family: "UnifrakturMaguntia", cursive;
    margin: 20px 0 10px 0;
    border-bottom: solid 3px var(--negro);
}
.informacion_artista P{
    text-align: center;
    background-color: var(--Vinotinto_claro);
    WIDTH: 60%;
    padding: 20px;
    font-size: 1rem;
    color: var(--gris_claro_metalico);
    border-radius: 20px;
}

@media only screen and (min-width: 768px) {
    .esquinita_gotica{
        width: 80%; 
        position: absolute;
        z-index: 1;
    }


}






.mirar_mas{
    font-family: "UnifrakturMaguntia", cursive;
}



/* --------------------------------------opiniones de crientes ------------------------ */

.testimonios{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.testimonios h3{
    background-image: url(../img/fondo_gotico.jpg);
    background-attachment: fixed;
    padding: 30px;
    width: 70%;
    color: var(--gris_claro_metalico);
    border: solid 3px var(--negro);
    border-radius: 20px;
    text-align: center;
    font-size: 1.5rem;
}
.comentarios{
    display: flex;
    align-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.comentarios p{
    
    background-color: var(--Vinotinto_claro);
    border-radius: 20px;
    width: 20%;
    margin: 10px;
    padding: 30px;
    text-align: center;
    word-wrap: break-word;
    color: var(--gris_claro_metalico);
}



/* ---------------------------------Datos de cuentas y contactos---------------- */


.contactos_contenedor{
    width: 100%;
}
.cuntactos{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

}
.telefono{
    background-color: var(--Vinotinto_claro);
    padding: 10px;
    margin: 20px;
    color: var(--gris_claro_metalico);
    border-radius: 20px;
    width: 80%;
    text-align: center;
    font-size: 1.5rem;
}

.redeses_contactos{
    background-color: var(--Vinotinto_claro);
    padding: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--gris_claro_metalico);
    border-radius: 20px;
}

.redeses_contactos   a{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid var(--gris_claro_metalico) 3px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    width: 70%;
}

.redeses_contactos a p{
    margin: 5px;
    color: var(--gris_claro_metalico);
    text-decoration: none;
}

.redeses_contactos a img{
    width: 40px;
}


.pagos{
    background-color: var(--Vinotinto);
    margin: 20px;
    padding: 10px;
    color: var(--gris_claro_metalico);
    width: 80%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    border: solid 3px var(--negro);
}

.pagos  h3{
    width: 100%;
    border-bottom: solid 3px var(--negro);
    padding: 10px;
    text-align: center;
    font-size: 2rem;
}

.metodo_de_pago{
    border: solid var(--negro);
    padding: 10px;
    border-radius: 20px;
    margin: 20px;
    text-align: center;
}
.metodo_de_pago h4{
    text-align: center;
    border-bottom: 3px solid var(--negro);
    padding: 10px;

}







/* ----------------------footer------------------------------ */


.footer{
    background-color: var(--Vinotinto_claro);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.alejandra_footer{
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin: 10px 0 0 0 ;  
}
.alejandra_footer img{
    max-width: 40px;
}
.alejandra_footer p{
    color: var(--gris_claro_metalico);
}
.autor{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    
}
.autor a{
    text-decoration: none;
}
.hecho_por{
    padding: 10px;
    font-family: "UnifrakturMaguntia", cursive;
    margin: 0;
    font-size: 1.5rem;
    color: var(--gris_claro_metalico);
}

.nombre_abrahan {
    text-decoration: none;
    color: var(--gris_claro_metalico);
    border: solid 3px var(--gris_claro_metalico);
    border-radius: 20px;
    padding: 10px;
    margin: 0px;
    background-color: var(--Vinotinto);
}

.redes_footer{
    background-color: var(--Vinotinto_claro);

}
.redes_footer img{
    max-width: 40px;
    margin: 0 5px 0 5px ;
}

@media only screen and (min-width: 768px) {
.footer{
    background-color: var(--Vinotinto_claro);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.footer img{
    max-width: 40px;
}
.footer p{
    color: var(--gris_claro_metalico);
}
.autor{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    
}
.autor a{
    text-decoration: none;
}
.hecho_por{
    padding: 10px;
    font-family: "UnifrakturMaguntia", cursive;
    margin: 0;
    font-size: 1.5rem;
}

.nombre_abrahan {
    text-decoration: none;
    color: var(--gris_claro_metalico);
    border: solid 3px var(--gris_claro_metalico);
    border-radius: 20px;
    padding: 10px;
    margin: 0px;
    background-color: var(--Vinotinto);
}

.redes_footer{
    background-color: var(--Vinotinto_claro);

}
.redes_footer img{
    max-width: 40px;
    margin: 0 5px 0 5px ;
}

}